.home {
  max-width: 44.5rem;
  height: 20.4375rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  margin-inline: auto;
  gap: 2.5rem;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__hero {
    background-color: $white-500;
    height: 20.57rem;
    width: 20.57rem;
    border-radius: 100%;
  }
  &__content-main-text {
    font-weight: $fw-bold;
    font-size: $fs-700;
    margin-left: 6px;
  }
  &__content-sub-text {
    font-weight: $fw-light;
    font-size: $fs-400;
    width: 21rem;
    margin-left: 6px;
  }

  &__nav-item-container {
    list-style: none;
    display: flex;
    margin-bottom: 4px;
  }
  &__nav-item {
    width: 5.875rem;
    height: 5.875rem;
    background-color: $grey-100;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin-top: 13px;

    &:not(:nth-of-type(1)) {
      margin-left: 13px;
    }

    &:nth-of-type(1) {
      background-color: $yellow-100;
    }
    &:nth-of-type(2) {
      background-color: $red-100;
    }
    &:nth-of-type(3) {
      background-color: $blue-100;
    }
  }
}
