.home {
  &__primay-title {
    font-size: 4.8rem;
    margin-top: calc(15rem + 1.6rem);
  }

  &__secondary-title {
    font-size: 1.8rem;
    max-width: 54rem;
    margin-top: 2.2rem;
  }

  &__button-container {
    margin-top: 4.2rem;
    display: flex;
    flex-wrap: nowrap;
  }

  &__button-icon {
    position: absolute;
    right: 0;
    margin-right: 2rem;
    margin-top: auto;
    margin-left: auto;
    height: 22px;
  }

  &__button {
    position: relative;
    outline: none;
    width: 23.7rem;
    height: 5rem;
    color: $primary;
    background-color: $black;
    font-size: 1.8rem;
    border: 3px solid $primary;
    transition: all ease 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }

    &::before {
      content: "";
      position: absolute;
      top: -3px;
      left: -3px;
      bottom: 0;
      height: 5rem;
      width: 2rem;
      background-color: $primary;
    }

    &:not(:nth-of-type(1)) {
      margin-left: 2rem;
    }
  }
}
