.header {
  display: flex;
  padding-top: 2rem;
  padding-left: 2.5rem;
  @media (max-width: 50em) {
    padding-top: 1rem;
    padding-left: 1rem;
  }
  &__circle {
    width: 1.5rem;
    height: 1.5rem;
    background-color: $yellow-100;
    border-radius: 100%;
    margin-right: 11px;
  }
  &__title {
    font-size: $fs-300;
    font-weight: $fw-bold;
    @media (max-width: 50em) {
      font-size: $fs-100;
    }
  }
  &__sub-title {
    font-weight: $fw-light;
    text-transform: capitalize;
    @media (max-width: 50em) {
      font-size: $fs-100;
    }
  }
}
