.navbar {
  grid-column: 1/2;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column-reverse;
  height: 100%;
  width: 13rem;
  right: 1px;
  padding-bottom: 5rem;
  padding-left: 3rem;
  background-color: $black;
  position: fixed;
  left: 0;
  z-index: 30;
  ul {
    list-style: none;
    position: absolute;
    right: -30px;

    li {
      width: 5.8rem;
      height: 5.8rem;
      background-color: $white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

      &:hover {
        cursor: pointer;
      }

      &:not(:nth-of-type(1)) {
        margin-top: 1.5rem;
      }
    }
  }
}

.icon-container {
  height: 3rem;
  width: 100%;
}

.nav-name {
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-transform: capitalize;
  color: $white;
  font-size: 3.6rem;
  font-weight: 300;
  transform: rotate(180deg);
  bottom: 5.5rem;
  left: 40px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
}
