.navbar {
  grid-column: 1/2;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column-reverse;
  grid-row: 1fr;
  height: 100%;
  position: absolute;

  ul {
    list-style: none;
    margin-bottom: -20rem;
    li {
      width: 5.8rem;
      height: 5.8rem;
      background-color: $white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        margin: auto;
      }

      &:not(:nth-of-type(1)) {
        margin-top: 1.5rem;
      }
    }
  }
}

.icon-container {
  height: 3rem;
  width: 100%;
  position: relative;
}

.nav-name {
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: $white;
  font-size: 3.6rem;
  transform: rotate(180deg);
  bottom: 1px;
  margin-bottom: -20rem;
  margin-left: 2rem;
}
