.navbar {
  grid-column: 1/2;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column-reverse;
  height: 100%;
  right: 1px;
  padding-bottom: 5rem;
  padding-left: 3rem;
  ul {
    list-style: none;
    margin-top: -20rem;
    margin-left: 3rem;
    li {
      width: 5.8rem;
      height: 5.8rem;
      background-color: $white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:not(:nth-of-type(1)) {
        margin-top: 1.5rem;
      }
    }
  }
}

.icon-container {
  height: 3rem;
  width: 100%;
  position: relative;
}

.nav-name {
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: $white;
  font-size: 3.6rem;
  font-weight: 300;
  transform: rotate(180deg);
  bottom: 5.5rem;
  left: 1px;
}
