*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: $white;
  color: $black;
  font-family: $text-font;
}

.main-container {
  margin-left: 13rem;
  padding-right: 6rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(11, 1fr);
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: unset;
}

.page-container {
  grid-column: 2/12;
  min-height: 100vh;
  padding-top: 15rem;
}
